<!DOCTYPE html>
<html>

<head>
  <title>Nghia Toy's - Cloud Computing</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap -->
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEzQenKWTUgh8ithLT3sq8Er8unQ-UPodni3fUYDehuniOBn0ipCoMpauGxt5aHdMBF2A&usqp=CAU">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <header>
    {{!-- <nav class="nav justify-content-center">
      <h1><a class="nav-link" href="/">Home</a></h1>
      <h1><a class="nav-link" href="/student/list">Customer</a></h1>
      <h1><a class="nav-link" href="/student">Admin</a></h1>
    </nav> --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/toy/customerView">Toy Store Nghia</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/toy"
              >Admin TOY</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="/lego">Admin LEGO</a>
            </li>



            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Type
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/toy/customerView">Batteries</a></li>
                <li><a class="dropdown-item" href="/lego/legoView">Action</a></li>
                <li><hr class="dropdown-divider" /></li>
                {{!-- <li><a class="dropdown-item" href="/toy/add">Something else here</a></li>s --}}
              </ul>
            </li>
            {{!-- <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
              >Disabled</a>
            </li> --}}
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
            >Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}

  <footer class="container text-center col-md-8">
    <p class="alert alert-success mt-5">Cloud Computing Toystore Nghia - Fall 2022</p>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>

