    <div class="container col-md-8 mt-5">
        <form action="/lego/add" method="post" class="card p-3 bg-light text-center">
    <h2 class="text text-primary">Add new product</h2>

{{!-- tên --}}
    <div class="form-group">
        <label class="text-success h6">Product Name</label>
        <input class="form-control" type="text" name="name" required minlength="3" maxlength="20">
    </div>

{{!-- ảnh --}}
    <div class="form-group mt-3">
        <label class="text-success h6">Product Image</label>
        <input class="form-control" type="text" name="image" required>
    </div>

{{!-- loại chạy pin và không --}}
    <div class="form-group mt-3">
        <label class="text-success h6">Type</label><br>
        Batteries <input type="radio" name="type" value="batteries">
        Action <input type="radio" name="type" value="action">
    </div>

{{!-- ngày sản xuất --}}
    <div class="form-group mt-3">
        <label class="text-success h6">Manufacturing Date</label>
        <input class="form-control" type="date" name="fmg" required>
    </div>

{{!-- giá --}}
    <div class="form-group mt-3">
        <label class="text-success h6">Price</label>
        <input class="form-control" type="number" name="price" required min=1000 max=10000000>
    </div>


{{!-- xuất xứ --}}
<label class="text-success h6">Origin</label>
<select name="year" class="form-control">
            <option value="{{origin}}">TQ</option>
            <option value="{{origin}}">VN</option>
         </select>



{{!-- XÁC nhận --}}
    <div class="form-group mt-3">
        <input class="btn btn-primary mt-3" type="submit" value="Add">
    </div>
</form>
</div>